.list {
  font-size: 0.875rem;
  color: var(--dark-grayish-blue);
  padding: 1.25rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_btns {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: var(--dark-grayish-blue);
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.list_btn--active {
  padding: 0 1.25rem;
}

.list_btn--clear {
  font-weight: normal;
}

.list_btn--active:hover,
.list_btn--completed:hover,
.list_btn--clear:hover {
  color: var(--font-color);
}

.list_btn--all {
  color: hsl(220, 98%, 61%);
}
